/* Font Import */
@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Cabin|Dancing+Script|Indie+Flower|Lacquer|Lato|Lobster|Long+Cang|Lora|Ma+Shan+Zheng|Montserrat|Muli|Open+Sans|Oswald|Pacifico|Raleway|Roboto&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Base */
body {
  font-family: sans-serif;
  background: #fff;
  font-size: 1rem;
}

/* Font */
